* {
  box-sizing: border-box;
}

$grey: #4a4a4a;
$semi-grey: #6e6e6e;
$henderson: #212e4e;
$red: #e65044;
$white: #ffffff;
$bg-light: #f6f9fc;

$font: "verdana", "helvetica", "arial", sans-serif;

body {
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
}

td {
  padding: 0;
}

img {
  border: 0;
}

.wrapper {
  width: 100%;
  table-layout: fixed;
  background-color: $bg-light;
  padding-bottom: 40px;
}

.webkit {
  max-width: 600px;
  background-color: $white;
}

.outer {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  border-spacing: 0;
  font-family: $font;
  color: $grey;
}

.logo {
  background-color: $white;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
}
& .padding {
  padding: 15px;
}

.three-columns {
  text-align: center;
  font-size: 0;
  line-height: 0;
  padding-top: 40px;
  padding-bottom: 30px;

  & .column {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
  }

  & .content {
    font-size: 15px;
    line-height: 20px;
  }

  & .link {
    background-color: $henderson;
    color: $white;
    display: inline-block;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
  }

  & .third-img,
  .third-img-last {
    max-width: 150px;
  }
}

.social,
.contacts {
  & a {
    text-decoration: none;
    color: $white;
  }

  & span {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  img.third-img-last {
    width: 200px !important;
    max-width: 200px !important;
  }

  .padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 400px) {
  img.third-img {
    width: 200px !important;
    max-width: 200px !important;
  }
}
